<header class="navbar">
    <ul class="nav-links">
        <li><a href="#">Menu Secundario</a></li>

        <img src="#" alt="logo ecommerce" >
    </ul>
    
    <ul class="nav-links">
        <li><a href="#">Logo</a></li>

        <li><a href="#">About</a></li>

        <li><a href="#">Contact</a></li>
    </ul>
</header>